<?xml version="1.0"?>
<config>
    <modules>
        <LitExtension_AjaxLogin>
            <version>1.4.7</version>
        </LitExtension_AjaxLogin>
    </modules>

    <global>
        <models>
            <ajaxlogin>
                <class>LitExtension_AjaxLogin_Model</class>
                <resourceModel>ajaxlogin_mysql4</resourceModel>
            </ajaxlogin>
            <ajaxlogin_mysql4>
                <class>LitExtension_AjaxLogin_Model_Resource_Mysql4</class>
                <entities>
                    <attributes>
                        <table>le_ajaxlogin_attributes</table>
                    </attributes>
                </entities>
            </ajaxlogin_mysql4>
            <customer>
                <rewrite>
                    <form>LitExtension_AjaxLogin_Model_Form</form>
                </rewrite>
            </customer>
        </models>
        <blocks>
            <ajaxlogin>
                <class>LitExtension_AjaxLogin_Block</class>
            </ajaxlogin>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>LitExtension_AjaxLogin_Block_Rewrite_Customer_Edit_Tabs</customer_edit_tabs>
                    <customer_edit_tab_account>LitExtension_AjaxLogin_Block_Rewrite_Customer_Edit_Tab_Account</customer_edit_tab_account>
                    <customer_grid>LitExtension_AjaxLogin_Block_Rewrite_Customer_Grid</customer_grid><!-- rewrite the customer grid -->
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ajaxlogin>
                <class>LitExtension_AjaxLogin_Helper</class>
            </ajaxlogin>
        </helpers>
        <resources>
            <ajaxlogin_setup>
                <setup>
                    <module>LitExtension_AjaxLogin</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                    <class>LitExtension_AjaxLogin_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxlogin_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <ajaxlogin>
                <use>admin</use>
                <args>
                    <module>LitExtension_AjaxLogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </ajaxlogin>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <LitExtension_Ajaxlogin>
                    <files>
                        <default>LitExtension_AjaxLogin.csv</default>
                    </files>
                </LitExtension_Ajaxlogin>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <litextension_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>LitExtension_AjaxLogin</module>
                    <frontName>leajaxlogin</frontName>
                </args>
            </litextension_ajaxlogin>
            <ajaxlogin>
                <args>
                    <modules>
                        <LitExtension_AjaxLogin before="Mage_Customer">LitExtension_AjaxLogin</LitExtension_AjaxLogin>
                    </modules>
                </args>
            </ajaxlogin>
        </routers>
        <layout>
            <updates>
                <litextension_ajaxlogin>
                    <file>le_ajaxlogin.xml</file>
                </litextension_ajaxlogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <litextension_ajaxlogin>
                    <files>
                        <default>LitExtension_AjaxLogin.csv</default>
                    </files>
                </litextension_ajaxlogin>
            </modules>
        </translate>
    </frontend>

    <default>
        <ajaxlogin>
            <ajaxlogin>
                <enable>1</enable>
                <enablemenu>1</enablemenu>
                <enableolay>1</enableolay>
                <position>0</position>
                <successpage>currentpage</successpage>
                <themes>simple</themes>
            </ajaxlogin>
            <registration>
                <enablenewsletter>0</enablenewsletter>
                <enabletac>0</enabletac>
                <enaddress>0</enaddress>
                <encustomergroup>0</encustomergroup>
            </registration>
        </ajaxlogin>
    </default>
</config>