<?xml version="1.0"?>
<config>
    <modules>
        <LitExtension_ACRegistration>
            <version>1.0.0</version>
        </LitExtension_ACRegistration>
    </modules>

    <global>
        <resources>
            <acregistration_setup>
                <setup>
                    <module>LitExtension_ACRegistration</module>
                    <class>LitExtension_ACRegistration_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </acregistration_setup>
        </resources>
        <models>
            <acregistration>
                <class>LitExtension_ACRegistration_Model</class>
                <resourceModel>acregistration_mysql4</resourceModel>
            </acregistration>
            <customer>
                <rewrite>
                    <form>LitExtension_ACRegistration_Model_Form</form>
                </rewrite>
            </customer>
            <acregistration_mysql4>
                <class>LitExtension_ACRegistration_Model_Resource_Mysql4</class>
                <entities>
                    <acregistration>
                        <table>le_acregistration</table>
                    </acregistration>
                </entities>
            </acregistration_mysql4>
        </models>
        <blocks>
            <acregistration>
                <class>LitExtension_ACRegistration_Block</class>
            </acregistration>
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>LitExtension_ACRegistration_Block_Rewrite_Customer_Edit_Tabs</customer_edit_tabs>
                    <customer_edit_tab_account>LitExtension_ACRegistration_Block_Rewrite_Customer_Edit_Tab_Account</customer_edit_tab_account>
                    <customer_grid>LitExtension_ACRegistration_Block_Rewrite_Customer_Grid</customer_grid><!-- rewrite the customer grid -->
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <acregistration>
                <class>LitExtension_ACRegistration_Helper</class>
            </acregistration>
        </helpers>
    </global>

    <admin>
        <routers>
            <acregistration>
                <use>admin</use>
                <args>
                    <module>LitExtension_ACRegistration</module>
                    <frontName>acregistration</frontName>
                </args>
            </acregistration>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <LitExtension_ACRegistration>
                    <files>
                        <default>LitExtension_ACRegistration.csv</default>
                    </files>
                </LitExtension_ACRegistration>
            </modules>
        </translate>
        <layout>
			<updates>
				<litextension_acregistration>
					<file>le_acregistration.xml</file>
				</litextension_acregistration>
			</updates>
		</layout>
    </adminhtml>

    <frontend>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
                        <LitExtension_ACRegistration before="Mage_Customer">LitExtension_ACRegistration</LitExtension_ACRegistration>
                    </modules>
                    <!--<frontName>leacregistration</frontName>-->
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <litextension_acregistration>
                    <file>le_acregistration.xml</file>
                </litextension_acregistration>
            </updates>
        </layout>
        <translate>
            <modules>
                <litextension_acregistration>
                    <files>
                        <default>LitExtension_ACRegistration.csv</default>
                    </files>
                </litextension_acregistration>
            </modules>
        </translate>
    </frontend>

    <default>
        <acregistration>
            <general>
                <enaddress>0</enaddress>
                <encustomergroup>0</encustomergroup>
            </general>
        </acregistration>
    </default>
</config>