<?xml version="1.0"?>
<config>
    <modules>
        <LitExtension_SimpleConfigurableProducts>
            <version>1.0.0</version>
        </LitExtension_SimpleConfigurableProducts>
    </modules>
    <global>
        <helpers>
            <simpleconfigurableproducts>
                <class>LitExtension_SimpleConfigurableProducts_Helper</class>
            </simpleconfigurableproducts>
        </helpers>
        <models>
            <catalogrule_mysql4>
                <rewrite>
                    <rule>LitExtension_SimpleConfigurableProducts_Model_CatalogRule_Mysql4_Rule</rule>
                </rewrite>
            </catalogrule_mysql4>
            <catalog>
                <rewrite>
                    <product_type_configurable_price>LitExtension_SimpleConfigurableProducts_Model_Catalog_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
                <rewrite>
                    <product_type_simple>LitExtension_SimpleConfigurableProducts_Model_Catalog_Product_Type_Simple</product_type_simple>
                </rewrite>
                <rewrite>
                    <product_type_virtual>LitExtension_SimpleConfigurableProducts_Model_Catalog_Product_Type_Virtual</product_type_virtual>
                </rewrite>
                <rewrite>
                    <product_type_configurable>LitExtension_SimpleConfigurableProducts_Model_Catalog_Product_Type_Configurable</product_type_configurable>
                </rewrite>
                <rewrite>
                    <product>LitExtension_SimpleConfigurableProducts_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
            <catalogindex>
                <rewrite>
                    <data_configurable>LitExtension_SimpleConfigurableProducts_Model_CatalogIndex_Data_Configurable</data_configurable>
                </rewrite>
            </catalogindex>
            <cataloginventory_mysql4>
                <rewrite>
                    <indexer_stock_configurable>LitExtension_SimpleConfigurableProducts_Model_CatalogInventory_Mysql4_Indexer_Stock_Configurable</indexer_stock_configurable>
                </rewrite>
            </cataloginventory_mysql4>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>LitExtension_SimpleConfigurableProducts_Model_Catalog_Resource_Eav_Mysql4_Product_Collection</product_collection>
                </rewrite>
                <rewrite>
                    <product_indexer_price_configurable>LitExtension_SimpleConfigurableProducts_Model_Catalog_Resource_Eav_Mysql4_Product_Indexer_Price_Configurable</product_indexer_price_configurable>
                </rewrite>
                <rewrite>
                    <product_indexer_price>LitExtension_SimpleConfigurableProducts_Model_Catalog_Resource_Eav_Mysql4_Product_Indexer_Price</product_indexer_price>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_grid>LitExtension_SimpleConfigurableProducts_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>LitExtension_SimpleConfigurableProducts_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
                <rewrite>
                    <product_price>LitExtension_SimpleConfigurableProducts_Block_Catalog_Product_Price</product_price>
                </rewrite>
				<rewrite>
                    <product_view>LitExtension_SimpleConfigurableProducts_Block_Catalog_Product_View</product_view>
                </rewrite>
                <rewrite>
                    <product_view_media>LitExtension_SimpleConfigurableProducts_Block_Catalog_Product_View_Media</product_view_media>
                </rewrite>
                <rewrite>
                    <product_view_attributes>LitExtension_SimpleConfigurableProducts_Block_Catalog_Product_View_Attributes</product_view_attributes>
                </rewrite>
				<rewrite>
                    <product_view_options>LitExtension_SimpleConfigurableProducts_Block_Catalog_Product_View_Options</product_view_options>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_item_renderer>LitExtension_SimpleConfigurableProducts_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <tax>
                <rewrite>
                    <data>LitExtension_SimpleConfigurableProducts_Helper_Data</data>
                </rewrite>
            </tax>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <simpleconfigurableproducts>
                    <file>litextension/simpleconfigurableproducts.xml</file>
                </simpleconfigurableproducts>
            </updates>
        </layout>
        <routers>
            <lescp>
                <use>standard</use>
                <args>
                    <module>LitExtension_SimpleConfigurableProducts</module>
                    <frontName>lescp</frontName>
                </args>
            </lescp>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <scp_options>
                                            <title>SCP Module Section</title>
                                        </scp_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
