<?xml version="1.0"?>
<config>
    <modules>
        <LitExtension_AjaxSearch>
            <version>1.0.2</version>
        </LitExtension_AjaxSearch>
    </modules>
    <global>
        <helpers>
            <ajaxsearch>
                <class>LitExtension_AjaxSearch_Helper</class>
            </ajaxsearch>
        </helpers>
        <models>
            <ajaxsearch>
                <class>LitExtension_AjaxSearch_Model</class>
            </ajaxsearch>
        </models>
    </global>
    <frontend>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>LitExtension_AjaxSearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <layout>
            <updates>
                <ajaxsearch>
                    <file>le_ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
        <translate>
            <modules>
                <LitExtension_AjaxSearch>
                    <files>
                        <default>LitExtension_AjaxSearch.csv</default>
                    </files>
                </LitExtension_AjaxSearch>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <LitExtension_AjaxSearch>
                    <files>
                        <default>LitExtension_AjaxSearch.csv</default>
                    </files>
                </LitExtension_AjaxSearch>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ajaxsearch>
            <general>
                <enable>1</enable>
                <showprod>6</showprod>
                <linknewtab>0</linknewtab>
                <showoosp>1</showoosp>
                <imagesize>85</imagesize>
                <querydelay>500</querydelay>
                <attrsearch>96</attrsearch>
                <minimum_characters>3</minimum_characters>
                <no_result_message>No Result Found</no_result_message>
                <search_in_categories>0</search_in_categories>
                <highlight>1</highlight>
            </general>
        </ajaxsearch>
    </default>
</config>