<?xml version="1.0"?>


<config>
    <modules>
        <LitExtension_Wysiwyg>
            <version>1.4.1</version>
        </LitExtension_Wysiwyg>
    </modules>
    <global>
        <models>
            <lewysiwyg>
                <class>LitExtension_Wysiwyg_Model</class>
            </lewysiwyg>
            <widget>
                <rewrite>
                    <widget>LitExtension_Wysiwyg_Model_Widget</widget>
                </rewrite>
            </widget>
            <checkout>
				<rewrite>
					<agreement>LitExtension_Wysiwyg_Model_Agreement</agreement>
				</rewrite>
			</checkout>
            <!--
			<catalog>
				<rewrite>
					<category>LitExtension_Wysiwyg_Model_Category</category>
					<product>LitExtension_Wysiwyg_Model_Product</product>
				</rewrite>
			</catalog>
			-->
        </models>
        <blocks>
            <lewysiwyg>
                <class>LitExtension_Wysiwyg_Block</class>
            </lewysiwyg>
            <widget>
                <rewrite>
                    <adminhtml_widget>LitExtension_Wysiwyg_Block_Adminhtml_Widget</adminhtml_widget>
                </rewrite>
            </widget>
        </blocks>
        <helpers>
            <lewysiwyg>
                <class>LitExtension_Wysiwyg_Helper</class>
            </lewysiwyg>
        </helpers>
        <events>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <le_wysiwyg_observer>
                        <type>singleton</type>
                        <class>LitExtension_Wysiwyg_Model_Observer</class>
                        <method>filterCmsContent</method>
                    </le_wysiwyg_observer>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <le_wysiwyg_observer>
                        <type>singleton</type>
                        <class>LitExtension_Wysiwyg_Model_Observer</class>
                        <method>filterProductContent</method>
                    </le_wysiwyg_observer>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
    </global>
    <admin>


        <routers>
            <lewysiwyg>
                <use>admin</use>
                <args>
                    <module>LitExtension_Wysiwyg</module>
                    <frontName>lewysiwyg</frontName>
                </args>
            </lewysiwyg>
        </routers>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LitExtension_Wysiwyg before="Mage_Widget">LitExtension_Wysiwyg</LitExtension_Wysiwyg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <lewysiwyg>
                    <file>le_wysiwyg.xml</file>
                </lewysiwyg>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <lewysiwyg>
                <use>standard</use>
                <args>
                    <module>LitExtension_Wysiwyg</module>
                    <frontName>lewysiwyg</frontName>
                </args>
            </lewysiwyg>
        </routers>
    </frontend>
    <default>
        <lewysiwyg>
            <general>
                <enable>1</enable>
                <editormenu>1</editormenu>
                <enablecf>0</enablecf>
                <layout>simple</layout>
            </general>
        </lewysiwyg>
    </default>
</config>