/**
 * @project: CMInventoryUpdater
 * @author : LitExtension
 * @url    : http://litextension.com
 * @email  : litextension@gmail.com
 */
.le-content-migration br { display: block; line-height: 1.6em; }
.le-content-migration article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.le-content-migration ol, ul { list-style: none; }
.le-content-migration input, textarea {-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none; }
.le-content-migration blockquote, q { quotes: none; }
.le-content-migration blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
.le-content-migration strong { font-weight: bold; }
.le-content-migration table { border-collapse: collapse; border-spacing: 0; }
.le-content-migration img { border: 0; max-width: 100%; }
.le-content-migration h1 {font-family: 'Cantora One', Arial, sans-serif;font-size: 1.4em;line-height: 1.6em; margin-bottom: 10px;color: #EC771B;}
.le-content-migration .label-fields p, .le-content-migration .input-fields p{font-size: 14px;color: #575757;font-weight: normal;margin-bottom: 10px;}
.le-content-migration a {text-decoration: none; font-size: 15px;}
.le-content-migration #w {display: block; width: 1000px;margin: 0 auto; background: none;}
#le-content {display: block; background: #fff; width: 98%; padding: 15px;float: left; border: 1px solid #E2E2E2;min-height: 300px;}
#le-content select{width: 300px;min-height: 22px;font-size: 15px;}
.content-block {display: block; padding: 15px 20px; font-size: 12px;}
.hidden { display: none; }
.lecamg-logo {width: 290px; height: 40px; display: block; background: url(../img/cm_inventory.png);}
.le-footer-migration{margin: 0 auto; text-align: center; padding: 20px;clear: both;}
.le-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
    background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
    background-color:#b8e356;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #86ae47;
    padding: 0 10px;
    min-width: 120px;
}
.le-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
    background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
    background-color:#a5cc52;color: #fff; text-decoration: none;
}
.le-button:active {position:relative; top:1px;}
.le-content-migration{background: #F2F2F2;padding: 2em;}
#le-content .label-fields{min-width: 40%; float: left; padding-right: 30px; margin-right: 20px;}
#le-content .input-fields{min-width: 40%;float: left;}
#le-content .le-input-fields{width: 100%;float: left;}
#le-content .le-submit{width: 100%;float: left;text-align: center; margin: 30px 0;}
#le-content input.input-text{width: 300px;font-size: 15px;}
.le-container , .le-form-fields{width: 100%; float: left; margin-bottom: 5px}
.le-container .ms-success{background: url("../img/success.png") no-repeat left;padding-left: 20px;}
.le-container .ms-warning{background: url("../img/warning.png") no-repeat left;padding-left: 20px;}
.le-form-fields.iu-result { font-size: 14px; margin: 15px 0; }
.le-form-fields .result-main {padding: 10px; background: #F5F5F5;}
.le-form-fields .result-main p {margin: 5px;}