<?xml version="1.0"?>
<config>
    <modules>
        <LitExtension_ItemSlider>
            <version>1.0.5</version>
        </LitExtension_ItemSlider>
    </modules>
    <global>
        <resources>
            <itemslider_setup>
                <setup>
                    <module>LitExtension_ItemSlider</module>
                    <class>LitExtension_ItemSlider_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </itemslider_setup>
        </resources>
        <blocks>
            <itemslider>
                <class>LitExtension_ItemSlider_Block</class>
            </itemslider>
        </blocks>
        <helpers>
            <itemslider>
                <class>LitExtension_ItemSlider_Helper</class>
            </itemslider>
        </helpers>
        <models>
            <itemslider>
                <class>LitExtension_ItemSlider_Model</class>
                <resourceModel>itemslider_mysql4</resourceModel>
            </itemslider>
            <itemslider_mysql4>
                <class>LitExtension_ItemSlider_Model_Resource_Mysql4</class>
                <entities>
                    <slides>
                        <table>le_itemslider_slides</table>
                    </slides>
                    <itemslider>
                        <table>le_itemslider</table>
                    </itemslider>
                    <itemslider_store>
                        <table>le_itemslider_store</table>
                    </itemslider_store>
                </entities>
            </itemslider_mysql4>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <litextension_itemslider>
                    <file>le_itemslider.xml</file>
                </litextension_itemslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <LitExtension_ItemSlider>
                    <files>
                        <default>LitExtension_ItemSlider.csv</default>
                    </files>
                </LitExtension_ItemSlider>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LitExtension_ItemSlider before="Mage_Adminhtml">LitExtension_ItemSlider_Adminhtml</LitExtension_ItemSlider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <itemslider>
                <use>standard</use>
                <args>
                    <module>LitExtension_ItemSlider</module>
                    <frontName>itemslider</frontName>
                </args>
            </itemslider>
        </routers>
        <layout>
            <updates>
                <itemslider module="LitExtension_ItemSlider">
                    <file>le_itemslider.xml</file>
                </itemslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <LitExtension_ItemSlider>
                    <files>
                        <default>LitExtension_ItemSlider.csv</default>
                    </files>
                </LitExtension_ItemSlider>
            </modules>
        </translate>
    </frontend>
    <default>
        <itemslider>
            <itemslider>
                <showproduct>1</showproduct>
                <itemimagewidth>80</itemimagewidth>
                <itemimageheight>80</itemimageheight>
                <items_per_page>4</items_per_page>
            </itemslider>
            <style1>
                <style1_line_width>1</style1_line_width>
            </style1>
            <style2>
                <style2_line_width>2</style2_line_width>
                <style2_group_width>6</style2_group_width>
                <style2_line_color>cecece</style2_line_color>
                <style2_group_background_color>cecece</style2_group_background_color>
            </style2>
        </itemslider>
    </default>

</config>