<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @project     AjaxCart
 * @package	    LitExtension_AjaxCart
 * @author      LitExtension
 * @email       litextension@gmail.com
 */
-->
<config>

    <sections>
        <leajct translate="label">
            <class>separator-top</class>
            <label>Ajax Cart</label>
            <tab>litextension</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1050</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" >
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable AjaxCart</label>
                            <comment><![CDATA[Enable the LitExtension Ajax Cart]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <fly translate="label comment">
                            <label>Enable Fly Effect</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fly>
                        <theme translate="label comment">
                            <label>Theme</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>leajct/system_config_source_theme</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </theme>
                        <effect translate="label comment">
                            <label>Product Box Effect</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>leajct/system_config_source_carteffect</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </effect>
                    </fields>
                </general>
                <dd>
                    <label><![CDATA[Drag & Drop]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label><![CDATA[Enable Drag & Drop]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <effect translate="label comment">
                            <label>Drop Effect</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>leajct/system_config_source_dropeffect</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </effect>
                        <back translate="label, comment">
                            <label>Theme Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color{required:false, adjust:false, hash:false}</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </back>
                        <color translate="label, comment">
                            <label>Text Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color{required:false, adjust:false, hash:false}</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </color>
                        <hover_text>
                            <label>Product image hover Text</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hover_text>
                        <cart_text>
                            <label>Cart Tooltip/Floater Text</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_text>
                        <compare_text>
                            <label>Compare Tooltip/Floater Text</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </compare_text>
                        <wish_text>
                            <label>Wishlist Tooltip/Floater Text</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wish_text>
                    </fields>
                </dd>
                <load>
                    <label>Loading</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <back translate="label, comment">
                            <label>Loading background</label>
                            <frontend_type>text</frontend_type>
                            <validate>color{required:false, adjust:false, hash:false}</validate>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </back>
                        <icon translate="label comment">
                            <label>Loading icon</label>
                            <frontend_type>select</frontend_type>
                            <source_model>leajct/system_config_source_icon</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </icon>
                        <color translate="label, comment">
                            <label>Loading color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color{required:false, adjust:false, hash:false}</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </color>
                        <size>
                            <label>Loading Size</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-number</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </size>
                    </fields>
                </load>
                <cfgblock translate="label">
                    <label>Confirmation Block</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled Confirmation</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <show_related translate="label comment">
                            <label>Show Related Products</label>
                            <comment><![CDATA[]]></comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_related>
                        <show_upsell translate="label comment">
                            <label>Show Up-Sell Products</label>
                            <comment><![CDATA[]]></comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_upsell>
                        <show_crosssel translate="label comment">
                            <label>Show Cross-Sell Products</label>
                            <comment><![CDATA[]]></comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_crosssel>
                        <maxcount translate="label comment">
                            <label> Maximum products show</label>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <comment><![CDATA[Empty or zero value will show all products]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maxcount>
                    </fields>
                </cfgblock>
            </groups>
        </leajct>
    </sections>
</config>
